.wp-container-core-buttons-is-layout-0aa01211 {
	justify-content: center;
}
.wp-container-core-group-is-layout-2bf980eb > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: 565px;
	margin-left: auto !important;
	margin-right: auto !important;
}
.wp-container-core-group-is-layout-2bf980eb > .alignwide {
	max-width: 565px;
}
.wp-container-core-group-is-layout-2bf980eb .alignfull {
	max-width: none;
}
.wp-container-core-group-is-layout-2bf980eb > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-2bf980eb > * + * {
	margin-block-start: 0px;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-8a2b1b76 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--50) * -1);
	margin-left: calc(var(--wp--preset--spacing--50) * -1);
}
.wp-container-content-0733e5d0 {
	flex-basis: 50%;
}
.wp-container-core-columns-is-layout-3a88641f {
	flex-wrap: nowrap;
}
.wp-container-core-group-is-layout-73128380 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--50) * -1);
	margin-left: calc(var(--wp--preset--spacing--50) * -1);
}
.wp-container-core-columns-is-layout-ca2b64f2 {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--50) var(--wp--preset--spacing--50);
}
.wp-container-core-group-is-layout-36f65c2d > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--50) * -1);
	margin-left: calc(var(--wp--preset--spacing--50) * -1);
}
.wp-container-core-group-is-layout-d8dce8eb {
	flex-direction: column;
	align-items: stretch;
}
.wp-elements-1 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-2);
}
.wp-elements-2 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-2);
}
.wp-container-core-columns-is-layout-5a989b3a {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--50) var(--wp--preset--spacing--20);
}
.wp-container-core-group-is-layout-d25ada51 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--40) * -1);
	margin-left: calc(var(--wp--preset--spacing--40) * -1);
}
.wp-container-core-group-is-layout-1292ae2f > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: 300px;
	margin-left: 0 !important;
	margin-right: auto !important;
}
.wp-container-core-group-is-layout-1292ae2f > .alignwide {
	max-width: 300px;
}
.wp-container-core-group-is-layout-1292ae2f .alignfull {
	max-width: none;
}
.wp-container-core-group-is-layout-b2212c43 {
	gap: var(--wp--preset--spacing--50);
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.wp-container-core-columns-is-layout-32aa975b {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--50) var(--wp--preset--spacing--30);
}
.wp-container-core-columns-is-layout-a0d91a25 {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--40) var(--wp--preset--spacing--50);
}
.wp-container-core-group-is-layout-4e81a00d > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--50) * -1);
	margin-left: calc(var(--wp--preset--spacing--50) * -1);
}
.wp-container-core-navigation-is-layout-b29d4327 {
	justify-content: center;
}
.wp-elements-3 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-container-core-group-is-layout-4fadf9fd {
	flex-direction: column;
	align-items: center;
}
.wp-container-core-group-is-layout-bce0c455 {
	gap: var(--wp--preset--spacing--10);
	flex-direction: column;
	align-items: flex-start;
}
.wp-container-core-columns-is-layout-3df3f144 {
	flex-wrap: nowrap;
}
.wp-container-core-group-is-layout-460dd9a9 {
	gap: 6px;
}
.wp-container-core-group-is-layout-cf54d0a6 {
	justify-content: space-between;
	align-items: flex-start;
}
.wp-container-core-group-is-layout-831b2db5 {
	flex-direction: column;
	align-items: flex-start;
}
.wp-container-core-navigation-is-layout-bce0c455 {
	gap: var(--wp--preset--spacing--10);
	flex-direction: column;
	align-items: flex-start;
}
.wp-elements-4 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-container-core-cover-is-layout-0979e81e > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--50) * -1);
	margin-left: calc(var(--wp--preset--spacing--50) * -1);
}
.wp-container-core-column-is-layout-c6aab7f7 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-column-is-layout-c6aab7f7 > * + * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-columns-is-layout-694ead9e {
	flex-wrap: nowrap;
	gap: 0 var(--wp--preset--spacing--40);
}
.wp-container-core-group-is-layout-0759c396 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--50) * -1);
	margin-left: calc(var(--wp--preset--spacing--50) * -1);
}
.wp-elements-5 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-container-core-group-is-layout-e9b3ffbc {
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}
.wp-container-core-columns-is-layout-189a6e74 {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--50) var(--wp--preset--spacing--60);
}
.wp-container-core-group-is-layout-c1e34c7d > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--50) * -1);
	margin-left: calc(var(--wp--preset--spacing--50) * -1);
}
.wp-container-core-group-is-layout-6a058180 {
	gap: 0.3em;
	justify-content: flex-start;
}
.wp-container-core-group-is-layout-2b923ac6 {
	flex-wrap: nowrap;
	justify-content: space-between;
}
.wp-container-core-group-is-layout-ec3c3ad3 {
	gap: 16px;
	flex-direction: column;
	align-items: flex-start;
}
.wp-container-core-group-is-layout-94e66096 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-94e66096 > * + * {
	margin-block-start: 16px;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-381e94ae > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-381e94ae > * + * {
	margin-block-start: 26px;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-2e69f404 {
	gap: 16px;
	flex-direction: column;
	align-items: stretch;
}
.wp-container-core-group-is-layout-9c3fca8d > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-9c3fca8d > * + * {
	margin-block-start: 36px;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-c042bc37 {
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}
.wp-container-core-column-is-layout-fbd00b99 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: 260px;
	margin-left: 0 !important;
	margin-right: auto !important;
}
.wp-container-core-column-is-layout-fbd00b99 > .alignwide {
	max-width: 260px;
}
.wp-container-core-column-is-layout-fbd00b99 .alignfull {
	max-width: none;
}
.wp-container-content-9cfa9a5a {
	flex-grow: 1;
}
.wp-container-core-columns-is-layout-3afcaa04 {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--30) var(--wp--preset--spacing--30);
}
.wp-container-core-column-is-layout-0c22cdd7 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-column-is-layout-0c22cdd7 > * + * {
	margin-block-start: var(--wp--preset--spacing--40);
	margin-block-end: 0;
}
.wp-container-core-columns-is-layout-ef10d34a {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--40) var(--wp--preset--spacing--30);
}
.wp-container-core-group-is-layout-bc18b00a {
	flex-direction: column;
	align-items: center;
}
.wp-container-core-group-is-layout-5a45e1ec {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--0);
	flex-direction: column;
	align-items: center;
}
.wp-container-core-group-is-layout-435112bf {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--0);
	flex-direction: column;
	align-items: center;
}
.wp-container-core-columns-is-layout-313efa99 {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--50) var(--wp--preset--spacing--30);
}
.wp-elements-6 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base);
}
.wp-elements-7 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base);
}
.wp-elements-8 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-elements-9 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-1);
}
.wp-elements-10 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-elements-11 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-1);
}
.wp-elements-12 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-elements-13 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-1);
}
.wp-elements-14 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-elements-15 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-1);
}
.wp-container-core-group-is-layout-f5ffc0a8 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: 800px;
	margin-left: auto !important;
	margin-right: auto !important;
}
.wp-container-core-group-is-layout-f5ffc0a8 > .alignwide {
	max-width: 800px;
}
.wp-container-core-group-is-layout-f5ffc0a8 .alignfull {
	max-width: none;
}
.wp-container-core-group-is-layout-f5ffc0a8 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--50) * -1);
	margin-left: calc(var(--wp--preset--spacing--50) * -1);
}
.wp-container-core-columns-is-layout-71c1e314 {
	flex-wrap: nowrap;
	gap: 1rem 1rem;
}
.wp-container-content-4f2ccadb {
	flex-basis: 1.25rem;
}
.wp-container-core-group-is-layout-0009407c {
	gap: 0px;
	flex-direction: column;
	align-items: center;
}
.wp-container-core-column-is-layout-da384c3e > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-column-is-layout-da384c3e > * + * {
	margin-block-start: var(--wp--preset--spacing--10);
	margin-block-end: 0;
}
.wp-container-core-columns-is-layout-d525a65d {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
}
.wp-container-core-group-is-layout-5ef3efcf {
	gap: var(--wp--preset--spacing--10);
	flex-direction: column;
	align-items: center;
}
.wp-container-core-group-is-layout-90edb088 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-90edb088 > * + * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-e42cfab0 {
	flex-wrap: nowrap;
	gap: 0;
	flex-direction: column;
	align-items: center;
}
.wp-container-core-group-is-layout-248f7c56 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--60) * -1);
	margin-left: calc(var(--wp--preset--spacing--60) * -1);
}
.wp-container-core-post-template-is-layout-67fd14af > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-post-template-is-layout-67fd14af > * + * {
	margin-block-start: var(--wp--preset--spacing--50);
	margin-block-end: 0;
}
.wp-container-core-column-is-layout-41a1b4d3 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-column-is-layout-41a1b4d3 > * + * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-2388926a > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--50) * -1);
	margin-left: calc(var(--wp--preset--spacing--50) * -1);
}
.wp-elements-16 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-container-core-group-is-layout-5e8f9c74 {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.wp-container-core-group-is-layout-af3670d6 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--60) * -1);
	margin-left: calc(var(--wp--preset--spacing--60) * -1);
}
.wp-elements-17 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-container-core-group-is-layout-10ede578 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: 300px;
	margin-left: 0 !important;
	margin-right: auto !important;
}
.wp-container-core-group-is-layout-10ede578 > .alignwide {
	max-width: 300px;
}
.wp-container-core-group-is-layout-10ede578 .alignfull {
	max-width: none;
}
.wp-container-core-group-is-layout-10ede578 > .alignfull {
	margin-right: calc(0px * -1);
	margin-left: calc(0px * -1);
}
.wp-container-core-group-is-layout-6b9d67c3 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-6b9d67c3 > * + * {
	margin-block-start: var(--wp--preset--spacing--50);
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-d8d5daf6 {
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.wp-container-core-group-is-layout-074dfc63 {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--10);
	flex-direction: column;
	align-items: flex-start;
}
.wp-container-core-post-template-is-layout-c6aab7f7 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-post-template-is-layout-c6aab7f7 > * + * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-f4752a5b > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-f4752a5b > * + * {
	margin-block-start: 0px;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-c7f04a3e {
	gap: var(--wp--preset--spacing--20);
}
.wp-container-core-navigation-is-layout-5e1415c7 {
	gap: var(--wp--preset--spacing--20);
	justify-content: flex-end;
}
.wp-container-core-group-is-layout-3bd2330e {
	justify-content: flex-start;
}
.wp-container-core-group-is-layout-1d0a7695 {
	justify-content: space-between;
}
.wp-container-core-group-is-layout-fd76f0ca > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-fd76f0ca > * + * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-elements-18 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-elements-19 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-container-core-group-is-layout-0683ee17 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-0683ee17 > * + * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-elements-20 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-container-core-group-is-layout-cb10d8c2 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-cb10d8c2 > * + * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-elements-21 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-elements-22 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-elements-23 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-elements-24 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-elements-25 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-container-core-group-is-layout-5aef3256 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: 840px;
	margin-left: 0 !important;
	margin-right: auto !important;
}
.wp-container-core-group-is-layout-5aef3256 > .alignwide {
	max-width: 840px;
}
.wp-container-core-group-is-layout-5aef3256 .alignfull {
	max-width: none;
}
.wp-elements-26 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-container-core-group-is-layout-236ffaf5 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	margin-left: 0 !important;
}
.wp-elements-27 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast);
}
.wp-elements-28 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base);
}
.wp-elements-29 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base);
}
.wp-elements-30 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-elements-31 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-1);
}
.wp-elements-32 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-elements-33 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-1);
}
.wp-elements-34 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-elements-35 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-1);
}
.wp-elements-36 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--base-2);
}
.wp-elements-37 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--contrast-1);
}
