PackageIdentifier: __PACKAGE_IDENTIFIER__
PackageVersion: __VERSION__
InstallerType: portable
Commands:
  - drupack
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/__OWNER__/__REPOSITORY__/releases/download/__VERSION__/drupack-__VERSION__-windows-amd64.exe
    InstallerSha256: __WINDOWS_AMD64_SHA256__
ManifestType: installer
ManifestVersion: 1.9.0
